# Groq (Generator + Judge LLMs)
GROQ_API_KEY=your_groq_api_key_here

# Auth
JWT_SECRET_KEY=super_secret_jwt_key_please_change_in_production
AGENT_SECRET_KEY=super_secret_agent_key_please_change_in_production

# Database
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster.mongodb.net/?retryWrites=true&w=majority

# Web Search Fallback
TAVILY_API_KEY=your_tavily_api_key_here

# Vector DB
CHROMA_DB_DIR=./chroma_data

# LangSmith Observability
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=your_langsmith_api_key_here
LANGCHAIN_PROJECT=rag-doc-assistant
